@use '../utils' as *;

.button {
    width: 160px;
    height: 26px;
    color: var(--color-white);
    background-color: var(--color-main);
    font-weight: 500;
    border-radius: 3px;
    font-size: 12px;

    @include hover {
        background-color: var(--color-secondary);
        cursor: pointer;
    }

    &--outlined {
        color: var(--color-main);
        background-color: transparent;
        border: 2px solid var(--color-main);

        @include hover {
            color: var(--color-white);
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            cursor: pointer;
        }
    }

    &--small {
        width: 109px;
        height: 26px;
    }

    &--medium {
        width: 150px;
        height: 32px;
        font-size: 14px;
    }

    &--large {
        width: 190px;
        height: 34px;
        font-size: 16px;
    }
}