@use '../utils' as *;

.description {

    @include desktop-above {
        gap: 70px;
    }
    
    &__body {
        align-content: center;

        @include desktop-above {
            width: 45%;
        }
    }

    &__header {
        color: var(--color-main);
    }

    &__text {
        color: var(--color-text);
        margin-top: 30px;
    }

    &__image {
    
        height: 100%;
        margin: auto 0;
    
        @include tablet-above {
            width: 45%;
        }

        @include desktop-above {
            width: 35%;
        }
    }
}

.cards-wrapper {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.card {

    &__header {
        color: var(--color-main);
        margin-top: 15px;
    }

    &__text  {
        color: var(--color-grey);
        margin-top: 15px;
        font-size: 12px;
        line-height: 1.2;
    }

    &__svg {        
        width: 36px;
        height: 36px;
        fill: var(--color-main);
    }
}