@use '../utils' as *;

.header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    z-index: 1;
    
    &-logo {
        display: inline-flex;
        margin: auto;

        @include tablet-above {
            margin: 0;
        }
    }
}

.navbar {

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @include laptop {
            gap: 20px;
        }

        &-link {
            position: relative;
            display: flex;
            align-items: center;
            height: var(--header-height);
            color: var(--color-secondary);
            font-size: 24px;

            &:hover {
                color: var(--color-grey);

                &:after {
                    width: 100%;
                    left: 0;
                    transition-property: width, left;
                    transition-duration: 0.3s;
                }
            } 

            &:after {
                content: '';
                position: absolute;
                bottom: 10%;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: var(--color-grey);
                

            }
        }
    }    
}

