@use '../utils' as *;
@use 'sass:math';

.introduction {
    padding-top: $height + 30px;
    background-image: url('../img/Path.webp');
    background-size: 85% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
  
    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;
    min-height: 30vh;

    @include mobile-above {
        background-size: 70% 100%;
        min-height: 40vh;
    }
    
    @include tablet-above {        
        background-size: 65% 120%;
        min-height: 50vh;
    }

    @include laptop-above {
        min-height: 60vh;
    }

    @include desktop-above {
        min-height: 70vh;
        flex-direction: row;
    }

    &__body {
        align-content: center;

        @include tablet-above {
            margin-right: 35%;
        }

        @include laptop-above {
            width: 539px;
        }

        @include xl-desktop {
            width: 560px;
            margin-right: 0;
        }

        &-header {
            color: var(--color-main);
        }
    
        &-text {
            color: var(--color-secondary);
            margin-top: 30px;
            font-size: 18px;
            line-height: 1.8;
        }      
    }

    &__image {
        position: absolute;
        right: 0;
        height: 80%;
        width: auto;
        transform: translateX(50%);

        @include laptop-above {
            transform: translateX(40%);
        }
        
        @include desktop-above {
            transform: translateX(35%);
        }
        
        @include xl-desktop{
            position: relative;
            transform: translateX(10%);
            height: auto;
            width: 60%;
            align-self: center;
        }
    }

    &__button-wrapper {
        margin: 30px auto 15px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        @include mobile-above {
            margin-top: 50px;
        }

        @include tablet-above {
            gap: 50px;
        }
    }
}
