$mobile: 520px;
$tablet: 768px;
$tablet-below: 767px;
$laptop: 1024px;
$laptop-below: 1023px;

@mixin tablet-below{
    @media(max-width: $tablet-below){
        @content
    }
};

@mixin tablet{
    @media(min-width: $tablet){
        @content
    }
};

@mixin laptop{
    @media(min-width: $laptop){
        @content
    }
};

@mixin laptop-below{
    @media(max-width: $laptop-below){
        @content
    }
};


@mixin hover{
    @media(hover:hover){
        &:hover {
            @content
        }
    };

    @media(hover:none){
        &:active {
            @content
        }
    }

};

@mixin square($size){
    width: $size;
    height: $size;
}